:root {
    --font-family: "Roboto", sans-serif;
    --accent: #34547a
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
}

.text__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #727272;
}

.title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    color: #000;
}

.inner-box {
    max-width: 1110px;
    margin: 0 auto;
}

/* Дизайн и верстка */
.label {}

.first-screen {
    min-height: 700px;
    background: #eeeff1;
}

.first-screen__header-menu-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
    margin-bottom: 135px;
}

.first-screen__menu-flex {
    display: flex;
    justify-content: space-between;
    width: 620px;
}

.first-screen__menu-text-item {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0.1em;
    color: #000;
    text-transform: uppercase;
    padding-right: 10px;
}

.first-screen__menu-text-item:hover {
    cursor: pointer;
    color: var(--accent)
}

.first-screen__header-content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.first-screen__header-content-img {
    display: block;
    padding-top: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

.first-screen__header-content-item {
    padding: 0 15px;
}

.first-screen__header-content-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 164%;
    color: #000;
    margin-bottom: 33px;
}

.first-screen__header-content-text {
    margin-bottom: 52px;
    max-width: 540px;
}

.first-screen__header-content-button {
    width: 225px;
    height: 65px;
    background-color: var(--accent);
    cursor: pointer;
}

.first-screen__header-content-button-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-top: 20px;
}

@media screen and (max-width:1280px) {
    .first-screen__header-menu-flex {
        margin-bottom: 0;
        align-items: center;
    }

    .first-screen__img {
        width: 96px;
        height: 60px;
        margin: 0 auto;
        margin-bottom: 25px;
        padding-left: 15px;
        padding-top: 15px;
    }

    .first-screen__menu-flex {
        margin: 0 auto;
        max-width: 520px;
        flex-wrap: wrap;

    }

    .first-screen__header-content-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .first-screen__header-content-img {
        margin-bottom: 50px;
    }

    .first-screen__header-content-title {
        text-align: center;
    }

    .first-screen__header-content-text {
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .first-screen__header-content-button {
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:768px) {
    .first-screen__menu-flex {
        flex-direction: column;
    }

    .first-screen__header-menu-flex {
        text-align: center;
    }

    .first-screen__menu-flex {
        max-width: 300px;
    }

    .first-screen__header-content-img {
        width: 300px;
    }
}

/* Обо мне */
.label {}

.about-me__box {
    max-width: 540px;
    margin: 0 auto;
    padding-top: 113px;
}

.about-me__title {
    text-align: center;
    margin-bottom: 38px;
}

.about-me__text {
    text-align: center;
    margin-bottom: 91px;
}

@media screen and (max-width:1280px) {
    .about-me {
        padding: 15px;
    }

    .about-me__box {
        padding-top: 50px;
    }

    .about-me__text {
        margin-bottom: 50px;
    }
}

/* Проекты */
.label {}

.project {
    background-color: var(--accent);
    margin-bottom: 103px;
}

.project__box-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: 250px;
    align-content: center;
    gap: 30px;
}

.project__box-item-flex {
    display: flex;
    height: 50px;
    width: 141px;
    gap: 20px;
}

.project__text1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 21px;
    color: #fff;
}

.project__text2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #fff;
}

@media screen and (max-width:1280px) {
    .project__box-grid {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .project {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:768px) {
    .project__box-grid {
        grid-template-columns: repeat(2, 1fr)
    }

}

/* Навыки */
.label {}

.skills__box-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 450px;
    margin-bottom: 100px;
}
.skills__list{
    padding-right: 15px;
    max-width: 350px;
}
.skills__title {
    /* padding-top: 101px; */
    margin-bottom: 40px;
}

.skills__text {
    margin-bottom: 12px;
}

.progress-bar {
    display: flex;
    /* max-width: 455px; */
    height: 4px;
    background-color: #999;
    margin-bottom: 27px;
}

.progress-bar-completed {
    background-color: var(--accent);
}

.skills__img {
    display: block;
    max-width: 555px;
    width: 100%;
}

@media screen and (max-width:1280px) {
    .skills {
        padding-left: 15px;
        padding-right: 15px;
    }
    .skills__box-flex {
        margin-bottom: 50px;
    }

    .skills__list {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .skills__img {
        margin: 0 auto;
    }

    .skills__title {
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    .skills__img {
        display: block;
        width: 100%;
    }
    .skills__box-flex {
        flex-direction: column;
    }
}

/* Как я работаю */
.label {}

video {
    display: block;
    cursor: pointer;
    max-width: 1110px;
    max-height: 600px;
    width: 100%;
    margin-bottom: 124px;
}

.video {
    background: #eeeff1;
}

.video__title {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 39px;
}

.video__text {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 48px;
}

@media screen and (max-width:1280px) {
    .video {
        padding: 15px;
    }

    video {
        display: block;
        cursor: pointer;
        /* width: 550px;
        height: 300px; */
        margin: 0 auto;
    }

    .video__title {
        padding-top: 50px;
    }
}

@media screen and (max-width:768px) {
    /* video {
        width: 300px;
        height: 180px;
    } */

    .video__text {
        margin-bottom: 25px;
    }
}

/* галерея */
.gallery {}

.gallery__block-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery__img {
    display: block;
    width: 100%;
    background-size: cover;
}
.card {
    position: relative;
}
.card-filter {
    position: absolute;
    background-color: var(--accent);
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s ease;
    cursor: pointer;
}
.card:hover .card-filter {
    opacity: 0.8;
}
@media screen and (max-width:1280px) {
    .gallery__block-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    .gallery__block-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}